body {

    background: url("/static/IMG/fondonotas.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 765PX;
    margin: 0px 0px 0px 0px;

  }

.message-body{
    
  Word-wrap: break-Word; 

}
  