{% load static %}
<html>
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <LINK REL=StyleSheet HREF='{% static "CSS/style.css" %}' TITLE="Contemporaneo2">

  <body>
       
 
      
      <div class="box is-gapless" id="contactobox" >
        <div class="column is-1"></div> 
      <div class="column is-1"></div> 
        <div class="columns is-half  is-vcentered is-desktop">
          
            <div class="column is-narrow is-one-third ">
              <div class="box">
                <div class="block">
                    <label class="title is-2">social media</label>
                  </div>
                <div class="block">
                  <!-- imagenes de redes sociales -->
                    <div class="columns is-mobile is-table">    
                      <div class="column is-2">
               
                      </div>
          
                        <div class="column">
                          <figure class="image is-48x48">
                          <a href='https://www.instagram.com/jorge_beriguete/'> <img src='{% static "IMG/icono/instagram.svg" %}'></a>
                          </figure>
                        </div>

                    <div class="column">
                        <figure class="image is-48x48">
                          <a href="https://twitter.com/JORGE_B_M7"> <img src='{% static "IMG/icono/twiter.png" %}'></a>
                        </figure>
                      </div>
                   

                    <div class="column">
                      <figure class="image is-48x48">
                        <a href="https://www.facebook.com/jorge.beriguetemateo"><img src='{% static "IMG/icono/facebook.png" %}'></a>
                      </figure>
                    </div>
                 

                  <div class="column">
                    <figure class="image is-48x48">
                      <a href="https://www.linkedin.com/in/jorge-beriguete-073206173/"><img src='{% static "IMG/icono/linkedin.png" %}'></a>
                    </figure>
                  </div>
                  <div class="column is-2">
               
                  </div>
      
              </div>

                  
                  
                </div>
                 
              </div>
            </div>

            <div class="column">
                <div class="box ">
                  <section class="section" >
                    
                    <h1 class="title">
                      send me a message
                    </h1>
                    <p class="subtitle">
                      opinions, suggestions, job offers
                    </p>
                    <form action="/contacto/" method="POST" > {% csrf_token %}
                    <div class="field">
                      <label class="label">Subject</label>
                      <div class="control">
                        <input class="input" type="text" placeholder="Text input" name="Subject">
                      </div>
                    </div>
                 
                    
                   
                    <div class="field">
                      <label class="label">email</label>
                      <div class="control has-icons-left has-icons-right">
                        <input class="input" type="email" placeholder="Email input" value="" name="email">
                        <span class="icon is-small is-left">
                          <i class="fas fa-envelope"></i>
                        </span>
                       
                    
                   
                    
                    <div class="field">
                      <label class="label">message</label>
                      <div class="control">
                        <textarea class="textarea" placeholder="Textarea" name="message"></textarea>
                      </div>
                    </div>
                    
                 
                    
                    <div class="field is-grouped">
                      <div class="control">
                        <button class="button is-link">Submit</button>
                      </div>
                    </form>
                  </section>

            </div>
         
         
         
         
          </div>

          <div class="column">
              <div class="box">
                <p class="title is-3">email</p>
                <p class="subtitle is-5">jorge.beriguete.mateo@gmail.com</p>
                <p class="title is-3">personal number</p>
                <p class="subtitle is-5">829-798-7471</p>

              </div>

          </div>

      </div>  
      <div class="column is-1"></div> 
      <div class="column is-1"></div> 
  </div>
                   
        <section class="hero is-link">
            <div class="hero-body">
                <p class="title">
                  <span class="icon-text">
                    <span class="icon" >
                      <i class="fas fa-laptop-code"></i>
                    </span>
                    <span href="#top" id="boton1_skills" >skills</span>
                  </span>
                </p>
        </section>
    </body>
</html>