{% load static %}
<html>
    <title>portafolio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel=StyleSheet href='{% static "CSS/style.css" %}' TITLE="Contemporaneo">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    
    <body>
       
      <section class="hero is-link">
        <div class="hero-body">
          <p class="title">
            <span class="icon-text">
              <span class="icon" id="curriculum">
                <i class="fas fa-address-card"></i>
              </span>
              <span href="#top">Curriculum</span>
            </span>
          </p>
        </section>
          
      
       <div class="box is-gapless" id="curriculimbox" >
        <div class="columns is-half is-half-table  is-vcentered is-desktop">

            <div class="column is-1">
               
            </div>
            
            <div class="column is-mobile is-half-table">
                <div class="box " style="background-color: transparent; box-shadow: none; ">
                <section class="section" >
                    
                    <h1 class="title">
                      I am always acquiring new skills 
                    </h1>
                    <p class="subtitle">
                      and I'm polishing the ones I already have
                    </p>
                <img src='{% static "IMG/cv.png" %}' width="400" height="400" alt="ilustracion de curriculum">
                </section>

            </div>
            </div>

            
              <div class="column is-narrow is-offset-1">
                <div class="box" id="curriculum">
                  <div class="block">
                    download only the curriculum in a rar file
                    or with all the certificates and titles that I have.
                    </div>
                  <div class="block">
                      <div class="buttons" href="#top">
                        
                          <a class="button is-link" href='{% static "file/curriculum.pdf" %}' download="" title="">download resume  and others (resume  only)</a>
                          <a class="button is-link" href='{% static "file/curriculum_certificaods.rar" %}' download="" title="">download resume  and others</a>
                        </div>
                  </div>
                   
                </div>
              </div>
              <div class="column is-1">
               
            </div>

           
        </div>  
    </div>
                    
    
    </body>
</html>