{% load static %}




<!DOCTYPE html>
<html  >
  <head>
    <link rel="icon" type="image/png" href='{% static "IMG/portafolio.png" %}'/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>portafolio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <LINK REL=StyleSheet HREF='{% static "CSS/style.css" %}' TITLE="Contemporaneo">
   
      <link rel="stylesheet" type="text/css" href='{% static "fontawesome/css/all.min.css" %}' />
      <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  


     
  
  </head>
  
    

    {% include "barranavegacion.html" %} 
    
    <div class="box is-gapless" id="indexbox">
      
    <div class="columns is-gapless is-vcentered is-desktop" >
      
      <div class="column is-1">
        
      </div>
      
      

      <div class="column">
      <div class="box " style="background-color: transparent; box-shadow: none; ">
        <section class="section" >
          <div class="container">
            <h1 class="title" >
              jorge B.M 
              
            </h1>
            
            <p class="subtitle">
              I am a systems engineering student
            </p>
          
        <img src='{% static "IMG/blob (1).png" %}' width="400" height="400" alt="fondo">
        </div>
      </section>
        </div>
        </div>
        <div class="column is-two-fifths"   >
          <div class="box">
            <div class="block">
              I am a young aspiring software developer, the purpose of this website is to make myself known and a <strong>portfolio</strong> and, incidentally, get a <strong>job</strong> to start my career in the software development area.
              </div>
            <div class="block">
                este sitio fue creado con python,django,el framework bulma y la base de datos postgresql.
                <span class="icon">
                  <i class="fa-solid fa-house"></i>
                </span>
            </div>
           
          </div>
          </div>
          <div class="column is-1">
               
          </div>
        </div>
       </div>
      
    </div>


    {% include "proyectos.html" %}
    {% include "curriculum.html" %}
    {% include "contacto.html" %}
    {% include "skill.html"%}


    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
     {% if messages %}
      {% for m in messages %}

        <script>
          Swal.fire({
            
            icon: 'success',
            title: '{{m}}',
            showConfirmButton: false,
            timer: 1500
          })
        </script>

      {% endfor %}
    {% endif %} 
    
    <script src='{% static "JS/arriba.js" %}' ></script>
  </body>
</html>