{% load static %}
<html>
  <title>Hello Bulma!</title>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
  />
  <link
    rel="StyleSheet"
    href='{% static "CSS/style.css" %}'
    title="Contemporaneo2"
  />

  <body>
    <div class="box is-gapless" id="skillsbox">
        <div class="column is-2" id="boton1_skills" href="#top"></div>
    

      <div class="columns  is-vcentered is-desktop">
          
      <div class="column is-offset-one-fifth is-three-fifths ">
        <div class="box " >
        <h1 class="title ">skills</h1>

        <div class="columns is-mobile">
            <div class="column">
              <p>python</p>
              <progress class="progress is-link" value="90" max="100">30%</progress>
            </div>
            <div class="column">
              <p>django</p>
              <progress class="progress is-link" value="90" max="100">30%</progress>
            </div>
          </div>
          <div class="column">

          </div>
          

          <div class="columns is-mobile">
            <div class="column">
              <p>CSS</p>
              <progress class="progress is-link" value="80" max="100">30%</progress>
            </div>
            <div class="column">
              <p>SQL</p>
              <progress class="progress is-link" value="70" max="100">30%</progress>
            </div>
          </div>
          <div class="column"></div>

          
          <div class="columns is-mobile">
            <div class="column">
              <p>UX</p>
              <progress class="progress is-link" value="70" max="100">30%</progress>
            </div>
            <div class="column">
              <p>HTML</p>
              <progress class="progress is-link" value="80" max="100">30%</progress>
            </div>
          </div>
          
          

      </div>
      
    </div>
    
    </div>
    
    <div class="columns is-one-third-table">
        <div class="column is-2"></div>
        

      <div class="column ">
        <div class="card">
            <div class="card-image">
              <figure class="image is-2by1">
                <img src='{% static "IMG/icono/python.svg" %}' alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
                <p class="title is-4">python</p>
                
                
              
              
              <div class="content">
                <span class="tag  is-link">django</span>
                <span class="tag  is-link">tkinter</span>
                <span class="tag  is-link">pywhatkit</span>

              </div>
            </div>
          </div>
      </div>
      <div class="column">
        <div class="card">
            <div class="card-image">
              <figure class="image is-2by1">
                <img src='{% static "IMG/icono/framework.svg" %}' alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
                <p class="title is-4">framework</p>
                
                
              
              
              <div class="content">
                <span class="tag  is-link">Bulma</span>
                

              </div>
            </div>
          </div>
      </div>
      <div class="column">
        <div class="card">
            <div class="card-image">
              <figure class="image is-2by1">
                <img src='{% static "IMG/icono/database.svg" %}' alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
                <p class="title is-4">data base</p>
                
                
              
              
              <div class="content">
                <span class="tag  is-link">Microsoft SQL</span>
                <span class="tag  is-link">mySQL</span>
                <span class="tag  is-link">postgresql</span>

              </div>
            </div>
          </div>
      </div>
      <div class="column is-2"></div>
    
    </div>
    <div class="column is-2"></div>
    
</div>

<section class="hero is-link">
    <div class="hero-body">
        <p class="title">
       
        </p>
</section>
  </body>
</html>
