{% load static %}
<html>
    <head>

    </head>
    <title>klk</title>
    <LINK REL=StyleSheet HREF='{% static "css/stylenublado.css" %}' TITLE="clima">
    <body id="fondo">
        <div class="container">
            <div id="cloud-intro"></div>
          </div>
        <div id="background-wrap">
            <div class="x1">
                <div class="cloud"></div>
            </div>
        
            <div class="x2">
                <div class="cloud"></div>
            </div>
        
            <div class="x3">
                <div class="cloud"></div>
            </div>
        
            <div class="x4">
                <div class="cloud"></div>
            </div>
        
            <div class="x5">
                <div class="cloud"></div>
            </div>
        </div>
        
        <p id="tiempo">{{climaRD}}</p>
        <div id="sun"></div>
        {% include "botondevolver.html" %}
    </body>
</html>