#indexbox {
  background-size: cover;
  background-repeat: no-repeat; /*Evitas que la imagen se repita si el contenedor es mas grande*/
  background-image: url("/static/IMG/layered.svg");
  margin: 0px 0px 0px 0px;
}


#curriculimbox {
  background-size: cover;
  background-repeat: no-repeat; /*Evitas que la imagen se repita si el contenedor es mas grande*/
  background-image: url("/static/IMG/fondo de curriculum.svg");
  margin: 0px 0px 0px 0px;
}

#contactobox {
  background-size: cover;
  background-repeat: no-repeat; /*Evitas que la imagen se repita si el contenedor es mas grande*/
  background-image: url("/static/IMG/fondodecontacto.svg");
  margin: 0px 0px 0px 0px;
}

#skillsbox {
  background-size: cover;
  background-repeat: no-repeat; /*Evitas que la imagen se repita si el contenedor es mas grande*/
  background-image: url("/static/IMG/fondoskills.svg");
  margin: 0px 0px 0px 0px;
}

#PPP {
  color: rgb(47, 136, 224);
}

.ir-arriba{
  color: rgb(255, 4, 4);;
}

html, body {
  /* Esta regla es suficiente */
  scroll-behavior:smooth;
}

#imagenskill{
    padding-top: 20px;
}

#cardhover{
 
  -webkit-transition: all 0.5s 0s ease;
  -moz-transition: all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
  
  
}

#cardhover:hover{
  
  -moz-transform: scale(1.1) ;
-webkit-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
-webkit-box-shadow: 2px 2px 20px 2px #96B3EB;
box-shadow: 2px 2px 20px 2px #96B3EB;
}

#letra_carta{

  padding: 10px;
}